.navbar {
    justify-content: space-between;
    padding: 40px 100px;
    height: 128px;
}

.navbar > img {
    height: auto;
    width: 3rem;
}

/* menu button */

#mobile_button {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 2.5rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

#mobile_button > span {
    width: 25px;
    height: 3px;
    background-color: black;
    border-radius: 10rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background-color 0.5s ease-in-out;
}

.clickedButton span:nth-child(1) {
    transform: translate3d(0, 7px, 0) rotate(45deg);
}

.clickedButton > span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
}

.clickedButton > span:nth-child(3) {
    transform: translate3d(0, -7px, 0) rotate(-45deg);
}

.clickedButton > span {
    background-color: rgb(233, 44, 44) !important;
}

@media (min-width: 768px) {
    .navbar {
        display: none;
    }
}
@media (max-width: 768px) {
    .navbar {
        display: flex;
    }
}
@media (max-width: 550px) {
    .navbar {
        padding: 40px 20px;
    }
}
